@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@1,900&display=swap');
$dyellow: #F9BC50;
$bk: #1e1e1e;
@mixin flex($jus: center, $alg: center){
    display: flex;
    justify-content: $jus;
    align-items: $alg;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Patrick Hand', cursive;
}


.header-lap{
    height: 12vh;
    width: 50vw;
    @include flex(space-between);
    padding: 0 1vw;
    border-bottom: 2px solid $dyellow;
    border-top: 2px solid $dyellow;
    img{
        height: 12vh;
    }
    button{
        padding: 2vh 3vw;
        border: none;
        outline: none;
        font-size: 1.1rem;
        cursor: pointer;
        background-color: $bk;
        color:#fff ; 
        border-radius: 10px;
        &:hover{
            color: $dyellow;
        }
    }
}

// content
.container{
    height: 100vh;
    width: 100vw;
    @include flex(none, flex-start);
    .left{
        width: 50vw;
        height: 100vh;
        img{
            height: 100vh;
            width: 50vw;
        }
    }
    .right{
        height: 100vh;
        width: 50vw;
        .title{
            font-size: 4.4rem;
            padding: 2vh 0 1vh 2vw;
            font-family: 'Nunito', sans-serif;
        }
        .date_time{
            width: 100%;
            @include flex(space-between);
            padding: 0 2vh 0 2vh;
            height: 8vh;
            font-size: 1.3rem;
            #year{
                background-color: $dyellow;
                padding: 1vh 1vw;
                color: #fff;
                border: 1px solid $dyellow;
                border-radius: 10px;
            }
        }
        .more{
            margin: 1vh 0;
            border-bottom: 1px solid $bk;
            border-top: 1px solid $bk;
            @include flex;
            flex-direction: column;
            padding: 1vh 1vw;
            font-size: 1.3rem;
        }
        .movie_info{
            padding: 2vh 2vw;
            font-size: 1.4rem;
            border-bottom: 2px solid $dyellow;
        }
        .btn_gp{
            @include flex;
            padding-top: 1vh;
            margin-top: 1vh;
            button{
                width: 10vw;
                padding: 1vh 0 ;
                margin: 0 0.5vw;
                border-radius: 10px;
                border: none;
                outline: none;
                background-color: $bk;
                color: $dyellow;
                cursor: pointer;
                &:active{
                    background-color: $dyellow;
                }
            }
        }
    }
}

// responsive

@media all and (max-width:1000px){
    .container{
        .right{
            .title{
                font-size: 3.2rem;
                width: 50vw;
            }
        }
    }
}

@media all and (max-width:800px){
   .header-lap{
       display: none;
   }
   .container{
       flex-direction: column;
       .left, .right{
           width: 100vw;
           height: auto;
       }
       .left{
           img{
               width: 100vw;
               height: 100vw;
           }

       }
       }
       .more{
           font-size: 1rem;
       }
}
