@import url("https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Patrick Hand', cursive;
}

.header-lap {
  height: 12vh;
  width: 50vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 1vw;
  border-bottom: 2px solid #F9BC50;
  border-top: 2px solid #F9BC50;
}

.header-lap img {
  height: 12vh;
}

.header-lap button {
  padding: 2vh 3vw;
  border: none;
  outline: none;
  font-size: 1.1rem;
  cursor: pointer;
  background-color: #1e1e1e;
  color: #fff;
  border-radius: 10px;
}

.header-lap button:hover {
  color: #F9BC50;
}

.container {
  height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: none;
      -ms-flex-pack: none;
          justify-content: none;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.container .left {
  width: 50vw;
  height: 100vh;
}

.container .left img {
  height: 100vh;
  width: 50vw;
}

.container .right {
  height: 100vh;
  width: 50vw;
}

.container .right .title {
  font-size: 4.4rem;
  padding: 2vh 0 1vh 2vw;
  font-family: 'Nunito', sans-serif;
}

.container .right .date_time {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 2vh 0 2vh;
  height: 8vh;
  font-size: 1.3rem;
}

.container .right .date_time #year {
  background-color: #F9BC50;
  padding: 1vh 1vw;
  color: #fff;
  border: 1px solid #F9BC50;
  border-radius: 10px;
}

.container .right .more {
  margin: 1vh 0;
  border-bottom: 1px solid #1e1e1e;
  border-top: 1px solid #1e1e1e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1vh 1vw;
  font-size: 1.3rem;
}

.container .right .movie_info {
  padding: 2vh 2vw;
  font-size: 1.4rem;
  border-bottom: 2px solid #F9BC50;
}

.container .right .btn_gp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 1vh;
  margin-top: 1vh;
}

.container .right .btn_gp button {
  width: 10vw;
  padding: 1vh 0;
  margin: 0 0.5vw;
  border-radius: 10px;
  border: none;
  outline: none;
  background-color: #1e1e1e;
  color: #F9BC50;
  cursor: pointer;
}

.container .right .btn_gp button:active {
  background-color: #F9BC50;
}

@media all and (max-width: 1000px) {
  .container .right .title {
    font-size: 3.2rem;
    width: 50vw;
  }
}

@media all and (max-width: 800px) {
  .header-lap {
    display: none;
  }
  .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .container .left, .container .right {
    width: 100vw;
    height: auto;
  }
  .container .left img {
    width: 100vw;
    height: 100vw;
  }
  .more {
    font-size: 1rem;
  }
}
/*# sourceMappingURL=style.css.map */